*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    /* 텍스트 드래그 막기 */
    -webkit-user-select:none;
    user-select:none
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

input[type=checkbox]{
    display: none;
}

header{
    width: 100%;
    height: 50px;
    background-color: aquamarine;
}

.Logo{
    width: 15%;
    height: 100%;
    float: left;
    line-height: 50px;
    text-align: center;
    font-weight: 900;
    font-size: 35px;
}

.noneBox{
    width: 55%;
    height: 100%;
    float: left;
}

.Search{
    width: 20%;
    height: 100%;
    float: left;
    text-align: center;
    line-height: 50px;
}

.Search > input{
    width: 100%;
    height: 80%;
    border-radius: 15px;
    padding-left: 2%;
    font-size: 18px;
}

.modalBtn{
    width: 5%;
    height: 100%;
    float: left;
    text-align: center;
    line-height: 70px;
}

.openBtn{
    margin-left: 30%;
    margin-top: 7%;
    display: flex;
    width: 100%;
    height: 80%;
    background-color: black;
    color: aliceblue;
    font-weight: 700;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    border: 2px solid aliceblue;
    border-radius: 15px;
}

.modalBox{
    position: fixed;
    width: 400px;
    height: 300px;
    background-color: aliceblue;
    border: 2px solid black;
    border-radius: 15px;
    left: 0%;
    right: 0%;
    margin: auto;
    top: 25%;
    display: none;
}

.closeBtn{
    position: absolute;
    width: 70px;
    height: 30px;
    top: 0;
    right: 0%;
    text-align: center;
    line-height: 30px;
    background-color: black;
    color: aliceblue;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 10px;
}

input[id=modal]:checked~.modalBox{
    display: block;
}

.conBox{
    width: 33%;
    height: 200px;
    background-color: aliceblue;
    display: flex;
    float: left;
}

.line{
    width: 0.5%;
    height: 200px;
    background-color: black;
    display: flex;
    float: left;
}

.name{
    display: flex;
    width: 120px;
    height: 30px;
    padding: 3px;
    align-items: center;
    justify-content: center;
    background-color: black;
    border-radius: 10px;
    margin-top: 2px;
    margin-left: 2px;
}

.name > p {
    color: aliceblue;
    font-size: 18px;
    font-weight: 700;
}

.Notice > ul > li {
    width: 350px;
    height: 40px;
    padding: 8px 5px;
}

.Notice > ul > li > span{
    float: right;
}