*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    /* 텍스트 드래그 막기 */
    -webkit-user-select:none;
    user-select:none
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

input[type=checkbox]{
    display: none;
}

header{
    width: 100%;
    height: 50px;
    background-color: aquamarine;
}

.Logo{
    width: 15%;
    height: 100%;
    float: left;
    line-height: 50px;
    text-align: center;
    font-weight: 900;
    font-size: 35px;
}

.noneBox{
    width: 55%;
    height: 100%;
    float: left;
}

.Search{
    width: 20%;
    height: 100%;
    float: left;
    text-align: center;
    line-height: 50px;
}

.Search > input{
    width: 100%;
    height: 80%;
    border-radius: 15px;
    padding-left: 2%;
    font-size: 18px;
}

.modalBtn{
    width: 5%;
    height: 100%;
    float: left;
    text-align: center;
    line-height: 70px;
}

.openBtn{
    margin-left: 30%;
    margin-top: 7%;
    display: flex;
    width: 100%;
    height: 80%;
    background-color: black;
    color: aliceblue;
    font-weight: 700;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    border: 2px solid aliceblue;
    border-radius: 15px;
}

.modalBox{
    position: fixed;
    width: 300px;
    height: 150px;
    background-color: aliceblue;
    border: 2px solid black;
    border-radius: 15px;
    right: 2%;
    margin: auto;
    top: 1%;
    display: none;
}

.closeBtn{
    position: absolute;
    width: 70px;
    height: 30px;
    top: 0;
    right: 0%;
    text-align: center;
    line-height: 30px;
    background-color: black;
    color: aliceblue;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 10px;
}

input[id=modal]:checked~.modalBox{
    display: block;
}

.snsBox{
    margin-top: 8%;
}

.snsBox img{
    width: 100px;
    height: 100px;
    margin-left: 10%;
}

.slides {
    width: 60%;
    height: 600px;
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    float: left;
    background-color: aliceblue;
    border: #000000 2px solid;
}

.slides::-webkit-scrollbar {
    height: 15px;
}

.slides::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 10px;
    border: #eee 2px solid;
}

.slides > div {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    background: #EEFDF7;
    border-bottom: #000000 2px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    margin-right: 10px;
    padding-top: 20px;
}

.slides > div > li{
    color: black;
}

.carousel-open{
    overflow: hidden;
}

.carousel-control {
    width: 50px;
    height: 50px;
    background: black;
    border-radius: 50%;
    color: #fff;
    border: #fff 2px solid;
    cursor: pointer;
    display: none;
    font-size: 15px;
    font-weight: 800;
    line-height: 40px;
    text-align: center;
    position: absolute;
    top: 43%;
}

.carousel-control.prev {
    left: 1%;
}
.carousel-control.next {
    left: 55%;
}

.carousel-control:hover {
    color: aquamarine;
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3,
#carousel-4:checked ~ .control-4 {
    display: block;
}


.conBox{
    width: 40%;
    height: 200px;
    background-color: aliceblue;
    float: left;
    border-top: black solid 2px;
    border-right: black solid 2px;
    border-bottom: black solid 2px;
}

.line{
    width: 0.5%;
    height: 200px;
    background-color: black;
    float: left;
}

.name{
    display: flex;
    width: 100px;
    height: 40px;
    line-height: 32px;
}

.name > p {
    display: flex;
    background-color: black;
    border-radius: 10px;
    margin-top: 2px;
    margin-left: 2px;
    padding: 3px;
    color: aliceblue;
    font-size: 18px;
    font-weight: 700;
}

.Notice > ul > li {
    width: 100%;
    height: 40px;
    padding: 8px 5px;
    border: black 1px solid;
    font-weight: 600;
}

.Notice > ul > li > a{
    width: 100%;
    float: left;
    color: black
}


.Notice > ul > li > span{
    float: right;
    margin-top: -20px;
}

.Notice > ul > li:nth-child(odd){
    background-color: aquamarine;
}

.Notice > ul > li:nth-child(even){
    background-color: bisque;
}

.iconBox{
    float: left;
    width: 40%;
    height: 400px;
    /* background: linear-gradient(to top, aquamarine, bisque); */
    background-color: aliceblue;
    border-top: 2px solid black;
    border-right: 2px solid black;
    text-align: center;    
}

.iconBtn > button{
    width: 200px;
    height: 150px;
    border-radius: 15px;
    margin: 10px;
    font-size: 34px;
    font-weight: 600;
}

.iconBtn > button:nth-child(1){
    background: linear-gradient(to top, aliceblue, #7cffff);
}

.iconBtn > button:nth-child(2){
    background: linear-gradient(to top, aliceblue, #7cffcf);
}

.iconBtn > button:nth-child(3){
    background: linear-gradient(to top, aliceblue, #91b4ff);
}

.iconBtn > button:nth-child(4){
    background: linear-gradient(to top, aliceblue, #888b8e);
}

.ytbBox{
    display: flex;
    width: 100%;
    height: 300px;
    background-color: aliceblue;
    border-left: #000000 2px solid;
    border-bottom: #000000 2px solid;
    border-right: #000000 2px solid;
}

.Youtube{
    display: flex;
    align-items: center;
}

.Youtube > iframe{
    border: #000000 3px solid;
    border-radius: 15px;
}

.ytb1{
    width: 50%;
    display: flex;
    margin-left: 10%;
}

.ytb2{
    width: 50%;
    display: flex;
}

